body{
    background-color: rgb(255, 216, 169);
}

footer{
      background-color: black;
      color: rgb(227, 242, 255);
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 2rem;
}
footer p{
    text-align: center;
    font-size: 0.6rem;
    margin-top: o.5rem;
}
